@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow-x: hidden;
  --tw-text-opacity: 1;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: solid;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cbd5e0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cbd5e0;
}

input::placeholder,
textarea::placeholder {
  color: #cbd5e0;
}